doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Avalon Setup
    link(rel='stylesheet', href='css/bootstrap.min.css')
    style(type='text/css').
      .row {
        padding-top: 20px;
        padding-bottom: 20px;
      }
  body
    .container
      .row
        .col-xs-6
          if Object.keys(users).length == 0
            | No users
          else
            .btn-group-vertical(data-toggle='buttons')
              for user in users
                label.btn.btn-default
                  input.user(type='checkbox')
                  if user.presence == 'active'
                    = user.name
                  else
                    em(style='color:#aaa')= user.name
        .col-xs-6
          .btn-group-vertical(data-toggle='buttons')
            label.btn.btn-primary.active
              input.role#merlin(type='checkbox', checked)
              | Merlin
            label.btn.btn-default
              input.role#percival(type='checkbox')
              | Percival
            label.btn.btn-default
              input.role#morgana(type='checkbox')
              | Morgana
            label.btn.btn-default
              input.role#mordred(type='checkbox')
              | Mordred
            label.btn.btn-default
              input.role#oberon(type='checkbox')
              | Oberon
      .btn-group.btn-group-justified
        a.btn.btn-default.disabled#start(href='#', role='button') 5-10 players required to start game
    script(src='js/jquery-1.12.3.min.js')
    script(src='js/bootstrap.min.js')
    script.
      var players = {};
      $('.user').change(function() {
        var name = $(this).parent().html().match(/>([a-z0-9][a-z0-9._-]*)/)[1];
        if (this.checked) {
          players[name] = true;
        } else {
          delete players[name];
        }
        var numPlayers = Object.keys(players).length;
        if (numPlayers < 5 || numPlayers > 10) {
          $('#start').removeClass('btn-success').addClass('disabled btn-default').html('5-10 players required to start game');
        } else if (numPlayers < 7 && $('#morgana').is(':checked') && $('#mordred').is(':checked') && $('#oberon').is(':checked')) {
          $('#start').removeClass('btn-success').addClass('disabled btn-default').html('7-10 players required for 3 evil roles');
        } else {
          $('#start').removeClass('disabled btn-default').addClass('btn-success').html('Start Game');
        }
      });

      $('.role').change(function(e) {
        e.stopPropagation();
        var numPlayers = Object.keys(players).length;
        if (this.checked) {
          switch(this.id) {
          case 'percival':
            $('#merlin').prop('checked', true).parent().removeClass('btn-default').addClass('btn-primary active');
          case 'merlin':
            $(this).parent().removeClass('btn-default').addClass('btn-primary');
            break;
          case 'morgana':
            $('#percival').prop('checked', true).parent().removeClass('btn-default').addClass('btn-primary active');
          case 'mordred':
            $('#merlin').prop('checked', true).parent().removeClass('btn-default').addClass('btn-primary active');
          default:
            $(this).parent().removeClass('btn-default').addClass('btn-danger');
            if (numPlayers >= 5 && numPlayers < 7 && $('#morgana').is(':checked') && $('#mordred').is(':checked') && $('#oberon').is(':checked')) {
              $('#start').removeClass('btn-success').addClass('disabled btn-default').html('7+ players required for 3 evil roles');
            }
            break;
          }
        } else {
          $(this).parent().removeClass('btn-danger btn-primary active').addClass('btn-default');
          switch(this.id) {
          case 'merlin':
            $('#percival').prop('checked', false).parent().removeClass('btn-primary active').addClass('btn-default');
            $('#mordred').prop('checked', false).parent().removeClass('btn-danger active').addClass('btn-default');
          case 'percival':
            $('#morgana').prop('checked', false).parent().removeClass('btn-danger active').addClass('btn-default');
            break;
          }
          if (numPlayers >= 5 && numPlayers < 7 && (!$('#morgana').is(':checked') || !$('#mordred').is(':checked') || !$('#oberon').is(':checked'))) {
            $('#start').removeClass('disabled btn-default').addClass('btn-success').html('Start Game');
          }
        }
      });

      $('#start').click(function() {
        var roles = ['merlin', 'percival', 'morgana', 'mordred', 'oberon'];
        for (var i = 4; i>= 0; i--) {
          if (!$('#'+roles[i]).is(':checked')) {
            roles.splice(i,1)
          }
        }
        $.post({
          url: '/start',
          data: {
            players: Object.keys(players),
            roles: roles
          }
        });
      });
